	.electricity::after {
		color:yellow !important;
		content: '⌁';
	}
	.punch::after{
		color:yellow !important;
		left: -20%;
		content: '☆';
	}
	.jump::after {
		color:grey;
		content: '≋';
	}
	.hit::after {
		color:orange;
		content: '!';
	}
	.danger::after {
		color:orange;
		content: '?';
	}
	.positif::after {
		color:rgb(64,128,255);
		content: '!';
	}
	.negatif::after {
		color:rgb(255,64,128);
		content: '!';
	}
		.drop::after {
		color:rgb(0,255,0);
		content: '+';
	}
			.vacuum::after {
		color:rgb(255,0,0);
		content: '-';
	}