.night{
	visibility: hidden;
}
.red{
	background-color: rgb(255,0,0);
}
.red_fuel::after {
	color:red;
	content: '⚡';
}
.blue{
	background-color: rgb(0,0,255);
}
.blue_fuel::after {
	color:blue;
	content: '⚡';
}
.green{
	background-color: rgb(0,255,0);
}
.green_fuel::after {
	color:green;
	content: '⚡';
}
.magenta::after {
	color:magenta;
	content: '/';
}
.blue.red{
	background-color: rgb(255,0,255);
}
.blue.green{
	background-color: rgb(0,255,255);
}
.red.green{
	background-color: rgb(255,255,0);
}
.red.green.blue{
	background-color: rgb(255,255,255);
}