	/*log*/
	.log_A::before {
		content: 'A';
	}
	.log_B::before {
		content: 'B';
	}
	.log_C::before {
		content: 'C';
	}
	.log_D::before {
		content: 'D';
	}
	.log_E::before {
		content: 'E';
	}
	.log_F::before {
		content: 'F';
	}
	.log_G::before {
		content: 'G';
	}
	.log_H::before {
		content: 'H';
	}
	.log_I::before {
		content: 'I';
	}
	.log_J::before {
		content: 'J';
	}
	.log_K::before {
		content: 'K';
	}
	.log_L::before {
		content: 'L';
	}
	.log_N::before {
		content: 'N';
	}
	.log_M::before {
		content: 'M';
	}
	.log_N::before {
		content: 'N';
	}
	.log_O::before {
		content: 'O';
	}
	.log_P::before {
		content: 'P';
	}
	.log_Q::before {
		content: 'Q';
	}
	.log_R::before {
		content: 'R';
	}
	.log_S::before {
		content: 'S';
	}
	.log_T::before {
		content: 'T';
	}
	.log_U::before {
		content: 'U';
	}
	.log_V::before {
		content: 'V';
	}
	.log_W::before {
		content: 'W';
	}
	.log_X::before {
		content: 'X';
	}
	.log_Y::before {
		content: 'Y';
	}
	.log_Z::before {
		content: 'Z';
	}
	.log_a::before {
		content: 'a';
	}
	.log_b::before {
		content: 'b';
	}
	.log_c::before {
		content: 'c';
	}
	.log_d::before {
		content: 'd';
	}
	.log_e::before {
		content: 'e';
	}
	.log_f::before {
		content: 'f';
	}
	.log_g::before {
		content: 'g';
	}
	.log_h::before {
		content: 'h';
	}
	.log_i::before {
		content: 'i';
	}
	.log_j::before {
		content: 'j';
	}
	.log_k::before {
		content: 'k';
	}
	.log_l::before {
		content: 'l';
	}
	.log_n::before {
		content: 'n';
	}
	.log_m::before {
		content: 'm';
	}
	.log_n::before {
		content: 'n';
	}
	.log_o::before {
		content: 'o';
	}
	.log_p::before {
		content: 'p';
	}
	.log_q::before {
		content: 'q';
	}
	.log_r::before {
		content: 'r';
	}
	.log_s::before {
		content: 's';
	}
	.log_t::before {
		content: 't';
	}
	.log_u::before {
		content: 'u';
	}
	.log_v::before {
		content: 'v';
	}
	.log_w::before {
		content: 'w';
	}
	.log_x::before {
		content: 'x';
	}
	.log_y::before {
		content: 'y';
	}
	.log_z::before {
		content: 'z';
	}
	.log_1::before {
		content: '1';
	}
	.log_2::before {
		content: '2';
	}
	.log_3::before {
		content: '3';
	}
	.log_4::before {
		content: '4';
	}
	.log_5::before {
		content: '5';
	}
	.log_6::before {
		content: '6';
	}
	.log_7::before {
		content: '7';
	}
	.log_8::before {
		content: '8';
	}
	.log_9::before {
		content: '9';
	}
	.log_0::before {
		content: '0';
	}
	.log_space::before {
		content: ' ';
	}
	.log_int::before {
		content: '?';
	}
	.log_excl::before {
		content: '!';
	}
	.log_dot::before {
		content: '.';
	}
	.log_comma::before {
		content: ',';
	}
	.log_smaller::before {
		content: '<';
	}
	.log_dotdot::before {
		content: ':';
	}
	.log__::before {
		content: '_';
	}