		.wall  {
			border-color: white;
			background-color: rgb(64,64,64);
		}
		.mobile::after {
			z-index: 999;
		}
		.player::after {
			color:white;
			content: '@';
		}
		.player1::after {
			color:blue;
			content: '@';
		}
		.player2::after {
			color:red;
			content: '@';
		}
		.turnet::after{
			color: white;
			content: '¶';
		}
		.emitter::after{
			color: white;
			content: '¶';
		}