	.screen{
		position: absolute;
		width:fit-content;
		height: fit-content;
		margin:auto;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
	table{
		display: inline-block;
		float: left;
		border-collapse: collapse;
		/*position: absolute;*/
	}
	tr{
		display: flex;
	}
	td{
		font-size: 2rem;
		border-top:solid;
		border-left:solid;
		border-color: rgba(255,255,255,0.25);
		box-sizing: border-box;
		border-width: 1px;
		text-align: center;
		position: relative;
	}